In [1]:
# 1.Write a program using list comprehension to find primes in range 2 to 100
primes = [i for i in range(2,100) if all(i%j !=0 for j in range(2,int(i**0.5) + 1))]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [8]:
import pandas as pd

In [11]:
aa=pd.DataFrame({'data':[1,2,3,4],'name':['ram','riya','rajan','radha']})
aa

   data   name
0     1    ram
1     2   riya
2     3  rajan
3     4  radha

In [2]:
# 2. Write a function to reverse a string
String = 'Data Science'
String[::-1]

'ecneicS ataD'

In [3]:
#3. Write a program to extract the words from the given list which have their first character in uppercase
#Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']
#Output: ['Monday', 'Sunday', 'Saturday']
Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']
a=[]
for i in Days:
    if i[0].isupper():
        a.append(i)
print(a)

['Monday', 'Sunday', 'Saturday']

In [4]:
#4. Write a program to extract the year part from the dates in the given list
#Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']
#Output: ['1997','2011','1993','2020']
Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']
for i in Batch:
    print(i[-4:])

1997
2011
1993
2020

In [5]:
#5. Write a program swap the keys to values and values to keys of the given dictionary
#Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4}
#Output: {1:'Data Science',2:'Machine Learning', 3:'SQL', 4:'Big Data'}
old = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4} 
new = dict([(value, key) for key, value in old.items()])   
for i in new: 
    print(i, " :  ", new[i])

1  :   Data Science
2  :   Machine Learning
3  :   SQL
4  :   Big Data

In [7]:
#6. Wrote a program to calculate the cumulative average of the given list using accumulate() and lambda function
#Input list: [5,2,1,4,6]

import itertools
input_list=[5,2,1,4,6]
cum_avg= (lambda x:itertools.accumulate(x))
for i in cum_avg(input_list):
    print(i)

5
7
8
12
18

In [8]:
#7. Write a program to count the number of elements in the string (given by the user) that are not present in the 'my_string'. Do not count the white spaces
#Use Recursion
#my_string = 'Data Science'

input_string=input('input:')
my_string = 'Data Science'
sum=[]
for i in input_string:
    if i not in my_string:
        sum.append(i)
print(len(sum))

input:pratik
3

In [9]:
#8. Define a function to check whether a number is in a range (1000,10000) or not
def trange(i):
    if i in range(1000,10000):
        print( " %s is in the range"%str(i))
    else :
        print("The no is not in range.")
trange(500)
trange(1500)

The no is not in range.
 1500 is in the range

In [10]:
#9. Write a program to print pascal triangle upto 6 steps (using list)
n = int(input("Enter the no of rows : "))
for i in range(0, n):
    coff = 1
    for j in range(1, n-i):
        print("  ", end="")
    for k in range(0, i+1):
        print("  ", coff, end="")
        coff = int(coff * (i - k) / (k + 1))
    print()

Enter the no of rows : 5
           1
         1   1
       1   2   1
     1   3   3   1
   1   4   6   4   1

In [11]:
#10. Write a program to calculate the sum of all elements in the list
#test_score = [10, 32, 23, 14, 25]

score = [10, 32, 23, 14, 25]
sum=0
for i in score:
    sum=sum+i

print("Sum: ", sum)

Sum:  104